/* Hide vertical and horizontal scrollbars */
body {
  overflow: hidden; /* Prevents both vertical and horizontal scrolling */
}

/* Intro container */
.intro-container {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Ensures no overflow, hiding scrollbars */
  position: relative;
}

.intro-slider {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
}

.intro-slide {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
}

/* Buttons container */
.introButtons {
  position: absolute;
  bottom: 5%;  /* Distance from the bottom */
  right: 5%;   /* Distance from the right */
  display: flex;
  gap: 15px; /* Space between buttons */
}

/* Button styling */
.introButtons button {
  padding: 12px 24px;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.introButtons button:nth-child(1) {
  background-color: #25231f; /* Signup button color */
  color: white;
}

.introButtons button:nth-child(2) {
  background-color: #25231f; /* Login button color */
  color: white;
}

.introButtons button:hover {
  opacity: 0.6;
}
